cython
pip-tools
black
nb_black
flake8
mypy
scikit-learn
umap-learn
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
tqdm
seaborn
numpy
pandas
pyastsim
pycode_similar
ipython
ipykernel
